<div class="forgot-password-container">
    <div class="logo-container">
        <img src="https://facturaelectronica.sanborns.com.mx/assets/images/logo-sanborns.png" alt="Grupo Sanborns" class="logo"/>
    </div>

    <h2>Contraseña olvidada</h2>
    <p class="subtitle">
        ¿Tiene problemas con su contraseña? Restablézcala aqui.
    </p>

    <form>
        <input type="text" placeholder="Id. de usuario" class="form-input"/>

        <button type="submit" class="send-button">Enviar correo</button>
    </form>
</div>

