<div class="video-section">
    <div class="video-content">
        <h2>Reglas de etiquetado</h2>
        <p class="subtitle">Vea como puede comenzar rapidamente</p>
        <ul class="text-list">
            <li>Reglas</li>
            <li>Parrafo 1</li>
            <li>Parrafo 2</li>
            <li>Parrafo 3</li>
        </ul>
        <button class="explore-button" routerLink="/manual">Explorar mas</button>
    </div>

    <div class="video-preview">
        <div class="video-box">
            <i class="ri-play-circle-line play-icon"></i>
        </div>
    </div>
</div>
