.automaticas-container{
  padding: 1vw;
  font-family: Arial, sans-serif;
    color: #3e434d;
  }
  
  .titulo {
    text-align: center;
    margin-bottom: 3vh;
  }

  .automaticas-header{
    display: flex;
    align-items: center;
    //justify-content: space-between;
    margin-bottom: 2vh;

    .selector-division{
      margin-bottom: 3vh;
      margin-left: 1vw;
      width: 5vw;
      //padding: 8px;
      margin-right: 32vw;
    }

    .selector-division select{
      padding: 0.8vw;
      width: 15vw;
    }

    .actualizarbtn{
      margin-top: 2vw;
      padding: 1.6vw;
      width: 10vw;
      background-color: #6c7387;
      color: white;
      border: none;
      margin-right: 3vw;
    }

    .actualizarCantidad{
      margin-top: 2vw;
      padding: 0.970vw;
      width: 10vw;
      background-color: #6c7387;
      color: white;
      border: none;
      margin-right: 25vw;
    }

    .selector-tienda select {
      margin-top: 2vw;
      padding: 0.8vw;
    }
  }

  .etiquetas {
    flex: 2;
    border: 0.1vw solid #ccc;
    padding: 1.5vw;

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        border-bottom: 0.1vw solid #ccc;
        padding: 0.8vw;
        text-align: left;
      }

      input, select {
        width: 100%;
        padding: 0.5vw;
      }

      input[type="checkbox"] {
        width: auto;
      }
    }
  }

  .acciones {
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
  
    .imprimir-btn {
      padding: 2.2vh 4vw;
      background-color: #6c7387;
      color: white;
      border: none;
    }
  }
