<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bulletproof Transactional Email</title>
	<style type="text/css">
		body {
    margin: 0;
}
table {
    border-spacing: 0;
}
td {
    padding: 0;
}
img {
    border: 0;
}
.wrapper {
    width: 100%;
    table-layout: fixed;
    background-color: #e1e5e8;
    padding-bottom: 60px;
    padding: 20px;
}
.main {
    margin-left: 300px;
    width: 100%;
    max-width: 600px;
    color: #44413d;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

	</style>
</head>
<body>

	<div class="wrapper">

		<table class="main" width="100%">

<!-- LOGO -->
            <tr>
                <td style="padding: 0;">
                    <table width="100%" style="border-spacing: 0;">
                        <tr>
                            <td style="padding: 25px 0 20px; text-align: center;">
                                <img src="https://facturaelectronica.sanborns.com.mx/assets/images/logo-sanborns.png" alt="Grupo Sanborns" class="logo" width="190" style="border: 0;" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


<!-- BODY -->
            <tr>
                <td style="padding: 12px; background-color: #fff;">
                    <table width="100%" style="border-spacing: 0;">
                        <tr>
                            <td style="padding: 0 0 20px; text-align: center;">
                                <img src="https://cdni.iconscout.com/illustration/premium/thumb/forgot-password-website-illustration-download-in-svg-png-gif-file-formats--forget-lost-lock-security-access-user-interface-pack-design-development-illustrations-6430776.png?f=webp" alt="" width="200" style="border: 0; max-width: 100%;">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0; text-align: center;">
                                <h1 style="font-size: 25px; margin: 0;">¿Olvidaste tu contraseña?</h1>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 15px 0 0; text-align: center;">
                                <h3 style="font-size: 16px; font-weight: 400; margin: 0;">Sigue las siguientes indicaciones:</h3>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 0 15px; text-align: center;">
                                <p style="font-size: 16px; line-height: 28px; margin: 0;">1.- Presiona las teclas Ctrl+Alt+supr</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 0 15px; text-align: center;">
                                <p style="font-size: 16px; line-height: 28px; margin: 0;">2.- Selecciona la opcion cambiar contraseña</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 0 15px; text-align: center;">
                                <p style="font-size: 16px; line-height: 28px; margin: 0;">3.- Escriba la contraseña anterior</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 0 15px; text-align: center;">
                                <p style="font-size: 16px; line-height: 28px; margin: 0;">4.- Escribe la nueva contraseña y confirmala</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 20px 0 15px; text-align: center;">
                                <p style="font-size: 16px; line-height: 28px; margin: 0;">5.- Envia la nueva contraseña para que se realize el cambio</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

<!-- FOOTER SECTION -->
            <tr>
                <td style="padding: 0;">
                    <table width="100%" style="border-spacing: 0;">
                        <tr>
                            <td>
                    
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


		</table> <!-- End Main Class -->

	</div> <!-- End Wrapper -->

</body>
</html>