.login-container{ // Este bloque aplica estilos a un contenedor principal con la clase .login-container
    width: 35vw; //ancho
    margin: 5vh auto; //15px de margen superior/inferior y centrado horizontal automático.
    padding: 3vh; //espacio interno
    border: 0.1rem solid #ccc; 
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    .logo-container{
        text-align: center;
        margin-bottom: 1vh;

        .logo{
            max-width: 15vw;
        }
    }

    h2 {
        margin: 2.5vh 0 1vh;
    }

    .forgot-password{
        float: right;
        font-size: 1.15vw;
        color: #007bff;
        text-decoration: none;
        margin-bottom: 1.5vh;
        //display: inline-block;

        &:hover{
            text-decoration: underline;
        }
    }

    form {
        .form-input {
            width: 100%;
            padding: 1.75vh;
            margin: 1.70vh 0;
            font-size: 1.3vw;
            box-sizing: border-box;
        }

        .checkbox-group {
            margin: 2vh 0;
            font-size: 1.20vw;

            label {
                display: block;
                margin: 0.5vh 0;
                cursor: pointer;

                input {
                    margin-right: 0.5vw;
                }
            }
        }

        .login-button{
            width: 100%;
            padding: 1.5vh;
            background-color: #6c7389;
            color: white;
            border: none;
            font-size: 1.2vw;
            cursor: pointer;
            margin-top: 1vh;
            transition: background-color 0.3s;

            &:hover {
                background-color: #5a6174;
            }
        }
    }
}