<div class="login-container">
    <div class="logo-container">
        <img src="Logo_de_Grupo_Sanborns.png" class="logo" alt="Grupo Sanborns">
    </div>

    <h2>Iniciar Sesion</h2>

    <a routerLink="/forgotpassword" class="forgot-password">¿Ha olvidado la contraseña?</a>

    <form>
        <input type="text" placeholder="Id. de usuario" class="form-input"/>
        <input type="password" placeholder="contraseña" class="form-input"/>

        <div class="checkbox-group">
            <label>
                <input type="checkbox"/>
                Mostrar contraseña
            </label>
            <label>
                <input type="checkbox">
                Mantener sesion iniciada
            </label>
        </div>

        <button routerLink="/home" type="button" class="login-button">Iniciar Sesion</button>
    </form>
</div>
